@import '../../../../variables.scss';
@import '../../../../animations.scss';

.empty-list {
  margin: 50px auto 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 225px;
  }
}
