// sizes
$header-height: 48px;
$header-icon-size: $header-height;


// colors
$color-primary: #313237;
$color-secondary: #89939a;
$color-white: #fff;


// breakpoints
$breakpoints: (
  'tablet': 640px,
  'desktop': 1024px,
);

